@import '../utilSCSS/mix';
@import '../utilSCSS/variables';

.skeleton {
  display:inline-block;
  position: relative;
  overflow: hidden;
  background-color: $lightBackgroundColor2;
  height: 100%;
  width: 100%;
  &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background: $gradient;
    animation: shimer 2s infinite;
    content: ";"
  }
}

@keyframes shimer {
  100% {
    transform: translate(100%)
  }
}
